<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hotel Booking App</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/bookings.controller.js" th:src="@{/app/bookings.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="BookingsController as vm">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">California Ultra-Speed Rail (CUSR)</a>
            </div>
            <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px;">Signed in as Anonymus</p>
        </div>
    </nav>
</header>

<div>Hello, Thymeleaf!</div>
<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <!-- Get all bookings or only affordable ones -->
            <div class="btn-group" role="group">
                <button ng-click="vm.getSouthAll()" type="button" class="btn btn-default">South Bound Schedule</button>
                <button ng-click="vm.getNorthAll()" type="button" class="btn btn-default">North Bound Schedule</button>
            </div>

            <!-- Display bookings in a table -->
            <table class="table">
                <thead>
                <tr>
                    <th>Train Name</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <th>I</th>
                    <th>J</th>
                    <th>K</th>
                    <th>L</th>
                    <th>M</th>
                    <th>N</th>
                    <th>O</th>
                    <th>P</th>
                    <th>Q</th>
                    <th>R</th>
                    <th>S</th>
                    <th>T</th>
                    <th>U</th>
                    <th>V</th>
                    <th>W</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="schedule in vm.schedules">
                    <td>{{schedule.train_name}}</td>
                    <td>{{schedule.a}}</td>
                    <td>{{schedule.b}}</td>
                    <td>{{schedule.c}}</td>
                    <td>{{schedule.d}}</td>
                    <td>{{schedule.e}}</td>
                    <td>{{schedule.f}}</td>
                    <td>{{schedule.g}}</td>
                    <td>{{schedule.h}}</td>
                    <td>{{schedule.i}}</td>
                    <td>{{schedule.j}}</td>
                    <td>{{schedule.k}}</td>
                    <td>{{schedule.l}}</td>
                    <td>{{schedule.m}}</td>
                    <td>{{schedule.n}}</td>
                    <td>{{schedule.o}}</td>
                    <td>{{schedule.p}}</td>
                    <td>{{schedule.q}}</td>
                    <td>{{schedule.r}}</td>
                    <td>{{schedule.s}}</td>
                    <td>{{schedule.t}}</td>
                    <td>{{schedule.u}}</td>
                    <td>{{schedule.v}}</td>
                    <td>{{schedule.w}}</td>
                    <td>{{schedule.x}}</td>
                    <td>{{schedule.y}}</td>
                    <td>{{schedule.z}}</td>
                    <!--<td>-->
                        <!--<button class="btn btn-danger" ng-click="vm.deleteBooking(booking.id)">Delete</button>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div class="container">
        <p th:text="'Schedule was updated on ' + ${#dates.format(datetime, 'HH:mm:ss')}" class="text-muted">Schedule was updated.</p>
    </div>
</footer>
</body>
</html>